.navbar {
    background-color: #000000;
    overflow: hidden;
    margin: 0;
    padding-left: 10px;
}
  
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  float: left;
  margin-left: 5px;
}

.nav-links a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #c2c2c2;
  color: black;
}

.nav-links a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
